# 跨IDE设置 支持列表:http://editorconfig.org

root = true # 是否全局设置

# 所有文件通用设置
[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 86
quote_type = single
spaces_around_operators = true

# 指定文件设置
# [*.{js,jsx,ts,tsx,d.ts,vue}]
# [*.{css,styl,scss,less,sass}]
# [*.{html,htm}]
# [*.{json,yml}]

[*.md]
trim_trailing_whitespace = false
