$accentColor = #424242
$textColor = #000

.home-blog .hero h1 {
  margin: 10rem auto 1.8rem;
}

.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action, .home-blog .hero .huawei {
  color: #333 !important;  
}
