.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

.home-content {
  max-width: none !important;
}

.home-hero {
  margin: 1rem 0 !important;
}

.cite-author {
  width: 100%;
  text-align: end;
}

cite {
  display: block;
  width: 100%;
  text-align: end;
}

.container {
  max-width: 55rem !important;
}

/* 首页h1打字效果--开始 */
#main-title {
  margin: auto;
  width: 9em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid transparent;
  animation: typing 4.5s steps(9), caret .5s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}
/* 首页h1打字效果--结束 */
