.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

#play-vite-audio {
  padding: 0;
  margin-left: 5px;
  display: inline-flex;
}

#play-vite-audio img {
  opacity: 0.8;
}

/* docs-cn specific */
.cn-footnote {
  margin-top: 20px;
}

.cn-footnote .title {
  display: block;
  margin-bottom: 10px;
}

.docs-cn-github-release-tag {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  margin-left: 6px;
  background: var(--c-brand);
  color: white;
  border-radius: 10px;
}

#wwads-container {
  position: relative;
  float: right;
  z-index: 9;
  margin: 0 0 16px 16px;
}

#wwads-container .wwads-text {
  font-size: 12px;
}

.page .container .content {
  clear: none !important;
}

@media (min-width: 1368px) {
  #wwads-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 0;
  }
}

:root {
  --waline-theme-color: var(--theme-color) !important;
  --waline-active-color: var(--theme-color-light) !important;
}

html[data-theme='dark'] {
  kbd {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.home .waline-wrapper {
  --waline-accent-color: var(--c-brand, #3eaf7c);
  --waline-text-color: var(--c-text, #2c3e50);
  --waline-active-color: var(--c-brand-light, #4abf8a);
  --waline-border: 1px solid var(--dark-grey);
  --waline-bgcolor: var(--c-bg, #fff);
  --waline-bgcolor-light: var(--c-bg-light, #f3f4f5);
}

$theme-color: #0e6db1;